<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rate</title>
</head>
<body>
<h1>Rate</h1>
<form action="/rate/" method="post">
    <p>
        Professor ID:
        <input type="text" name="professorid">
    </p>
     <p>
        Module Code:
        <input type="text" name="modulecode">
    </p>
     <p>
         Year:
        <input type="text" name="year">
    </p>
     <p>
        Semester:
        <input type="text" name="semester">
    </p>
    <p>
        Rating:
        <input type="text" name="rating">
    </p>
    <p>
        <input type="submit" value="RATE">
    </p>

</form>
</body>
</html>